.profile-page {
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

.profile-header-container {
    padding: 16px;
}

.profile-header {
    padding: 16px;
    text-align: center;
    width: inherit;
    background-color: #FFE0B2;
}

.profile-section {
    padding: 16px;
    width: 50%;
    background-color: #FFE0B2;
}

.profile-stuff {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 16px;
}