.reviews-page {
    padding: 16px;
}

.reviews-main {
    padding: 16px;
    background-color: #FAFAFA;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}